.about-us {
    padding: 2rem;
    background-color: #f9f9f9;
    color: #333;
    text-align: center;
    width: 95%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .about-us h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }
  
  .about-us p {
    font-size: 1.25rem;
    line-height: 1.6;
    margin-bottom: 1rem;
  }
  